a i {
  margin-left: 1rem;
}

.btn.content-btn {
  font-size: 16px;
  color: #b9e399;
  border-color: #b9e399;
  border-radius: 0.6em;
  padding: 0.7rem 2rem;
}
.btn.content-btn:hover {
  color: #ffffff !important;
  background-color: #b9e399;
}

.featured-content .splide--fade > .splide__track > .splide__list > .splide__slide.is-active {
  height: auto !important;
}
.featured-content .thumbnail-slider {
  margin-bottom: 5rem;
}
.featured-content .thumbnail-slider img.icon {
  width: 50px;
}
.featured-content .thumbnail-slider > .splide__track > .splide__list > .splide__slide {
  border: 0px;
  padding: 3rem 3rem;
  height: auto !important;
  width: auto !important;
  line-height: normal !important;
  text-align: center;
}
.featured-content .thumbnail-slider > .splide__track > .splide__list > .splide__slide .icon {
  font-size: 50px;
  margin-bottom: 2rem;
  color: #f68337;
  background-color: #f6f6f6;
  padding: 1rem;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .featured-content .thumbnail-slider > .splide__track > .splide__list > .splide__slide {
    padding: 2rem;
  }
  .featured-content .thumbnail-slider > .splide__track > .splide__list > .splide__slide .icon {
    font-size: 30px;
  }
}
.featured-content .thumbnail-slider > .splide__track > .splide__list > .splide__slide .nav-title {
  color: #000000;
  font-weight: 700;
}
.featured-content .thumbnail-slider > .splide__track > .splide__list > .splide__slide.is-active {
  border-color: transparent;
  background-color: #f68337;
  text-align: center;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
}
.featured-content .thumbnail-slider > .splide__track > .splide__list > .splide__slide.is-active .icon {
  background-color: #f6f6f6;
}
.featured-content .thumbnail-slider > .splide__track > .splide__list > .splide__slide.is-active .nav-title {
  color: #ffffff;
}
.featured-content .thumbnail-slider p {
  margin-bottom: 0px;
}
.featured-content .content-slider .feature-item {
  margin-bottom: 5rem;
  position: relative;
}
.featured-content .content-slider .feature-item .item-content {
  position: relative;
}
.featured-content .content-slider .feature-item .item-content.item-image {
  background-size: cover;
  background-position: center center;
  min-height: 250px;
  width: 47%;
  box-shadow: 0.2rem 0.45rem 0.725rem 0.32em rgba(0, 0, 0, 0.08);
}
.featured-content .content-slider .feature-item .item-content .bg-color-block {
  width: 80%;
  height: 85%;
  z-index: -1;
  position: absolute;
  border-radius: 1rem;
}
.featured-content .content-slider .feature-item .item-content .content-container {
  box-shadow: 0.2rem 0.45rem 0.725rem 0.32em rgba(0, 0, 0, 0.08);
  margin: 3rem;
  border-radius: 1rem;
  padding: 4rem;
  background-color: #ffffff;
  margin-bottom: 0px;
}
@media (max-width: 780px) {
  .featured-content .content-slider .feature-item .item-content .content-container {
    margin-right: 13px;
  }
}
.featured-content .content-slider .feature-item .action-row {
  margin-top: 2rem;
  align-items: center;
}
.featured-content .content-slider .feature-item .action-row .content-btn-container {
  text-align: right;
}
@media (max-width: 500px) {
  .featured-content .content-slider .feature-item .action-row .content-btn-container {
    text-align: left;
    margin-top: 2rem;
  }
}
.featured-content .content-slider .feature-item .action-row i.content-icon {
  font-size: 50px;
  color: #b9e399;
}
.featured-content .content-slider .feature-item:nth-child(odd) .bg-color-block {
  background-color: #b9e399;
}
.featured-content .content-slider .feature-item:nth-child(odd) .action-row i.content-icon {
  color: #b9e399;
}
.featured-content .content-slider .feature-item:nth-child(odd) .action-row .btn.content-btn {
  border-color: #b9e399;
  color: #b9e399;
}
.featured-content .content-slider .feature-item:nth-child(odd) .action-row .btn.content-btn:hover {
  color: #ffffff !important;
  background-color: #b9e399;
}
.featured-content .content-slider .feature-item:nth-child(even) .bg-color-block {
  background-color: #f68337;
}
.featured-content .content-slider .feature-item:nth-child(even) .action-row i.content-icon {
  color: #f68337;
}
.featured-content .content-slider .feature-item:nth-child(even) .action-row .btn.content-btn {
  border-color: #f68337;
  color: #f68337;
}
.featured-content .content-slider .feature-item:nth-child(even) .action-row .btn.content-btn:hover {
  color: #ffffff !important;
  background-color: #f68337;
}
.featured-content .content-slider .feature-item:nth-child(3n+0) .bg-color-block {
  background-color: #aa4743;
}
.featured-content .content-slider .feature-item:nth-child(3n+0) .action-row i.content-icon {
  color: #aa4743;
}
.featured-content .content-slider .feature-item:nth-child(3n+0) .action-row .btn.content-btn {
  border-color: #aa4743;
  color: #aa4743;
}
.featured-content .content-slider .feature-item:nth-child(3n+0) .action-row .btn.content-btn:hover {
  color: #ffffff !important;
  background-color: #aa4743;
}
@media (min-width: 780px) {
  .featured-content .content-slider .feature-item:nth-child(even) .item-content:nth-child(1) {
    order: 2;
  }
  .featured-content .content-slider .feature-item:nth-child(even) .item-content:nth-child(1) .bg-color-block {
    right: 55px;
  }
  .featured-content .content-slider .feature-item:nth-child(even) .item-content:nth-child(2) {
    order: 1;
  }
  .featured-content .content-slider .feature-item:nth-child(even) .item-details {
    padding-right: 5rem;
  }
  .featured-content .content-slider .feature-item:nth-child(even) .item-image {
    border-radius: 0px 10px 10px 0px;
  }
  .featured-content .content-slider .feature-item:nth-child(odd) .item-details {
    padding-left: 5rem;
  }
  .featured-content .content-slider .feature-item:nth-child(odd) .item-image {
    border-radius: 10px 0px 0px 10px;
  }
}
@media (max-width: 770px) {
  .featured-content .content-slider .feature-item .item-details {
    order: 2;
    width: 100% !important;
  }
  .featured-content .content-slider .feature-item .item-image {
    margin-bottom: 3rem;
    width: 100% !important;
    order: 1;
  }
}
/*# sourceMappingURL=features-carousel.css.map */